
.accountPanel {
    float: left;
    background-color: White;
    border-radius: 20px;
    border: 1px solid #666666;
    margin: 5rem 0.5rem 4rem 5rem;
    padding: 1rem;
    width: 25rem;
}

.separatingLine {
    margin: 1rem 0;
    color: #666666;
    background-color: #666666;
    border-width: 0;
    height: 2px;
}