.displayLeft {
  float: left;
}

.displayRight {
  float: right;
}

.editProfileButton {
  color: white;
  font-weight: bold;
  background-color: #303463;
  border-style: solid;
  border-color: #303463;
  border-radius: 0.3rem;
}

.formSection {
  margin: 1rem 0;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.label {
  color: #716c6c;
  font-weight: light;
  font-size: small;
}

.userInformation {
  color: #7caed7;
}
